.contenido{
    font-size:20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.big-size{
    font-size: 70px;
  }

.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{color:#fff!important;background-color:#ff3d00!important}