<td-layout>
  <td-navigation-drawer flex [sidenavTitle]="name" logo="assets:covalent" name="Firstname Lastname" email="firstname.lastname@company.com">
    <mat-nav-list>
      <a mat-list-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>Sign out</a>
      <a *ngFor="let item of routes" mat-list-item>
        <mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list td-navigation-drawer-menu>
        <a mat-list-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>Sign out</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav navigationRoute="/">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div td-toolbar-content layout="row" layout-align="center center" flex>
      <span>Registro</span>
      <span flex></span>
    </div>

    <div style="background-color:#ffd0b0">
      <mat-card fxlayout="row" fxflex="100" fxShow.gt-sm flex>
        <div layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
          <div flex="50" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
            <div class="text-center">
              <img src="./assets/icons/gamificacion.svg" width="100%">
            </div>
          </div>
          <mat-card-content flex="100" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
            <form #loginForm="ngForm">
              <div flex>
                <mat-card-content flex="100" style="color:#ff3d00;text-align:center;font-size:25px">REGISTRATE</mat-card-content>
                <!-- Campo nombre -->
                <mat-card flex="100" style=" background-color:#ffd0b0" tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
                  <mat-card-content>
                    <mat-form-field style="width: 100%;" flex>
                      <input matInput #userName #userControl="ngModel" placeholder="Nombre" type="text" maxlength="40" name="Nombre" [(ngModel)]="userDto.name"
                        required>
                      <span matPrefix>
                        <mat-icon>person</mat-icon>
                      </span>
                      <mat-hint align="start">
                        <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Requerido</span>
                      </mat-hint>
                      <mat-hint align="end">{{userName.value.length}} / 40</mat-hint>
                    </mat-form-field>
                  </mat-card-content>
                </mat-card>
                <!-- campo apellido -->
                <mat-card flex="100" style=" background-color:#ffd0b0" tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
                  <mat-card-content>
                    <mat-form-field style="width: 100%;" flex>
                      <input matInput #userLastName #userControl="ngModel" placeholder="Apellido" type="text" maxlength="40" name="Apellido" [(ngModel)]="userDto.lastname"
                        required>
                      <span matPrefix>
                        <mat-icon>person</mat-icon>
                      </span>
                      <mat-hint align="start">
                        <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Requerido</span>
                      </mat-hint>
                      <mat-hint align="end">{{userLastName.value.length}} / 40</mat-hint>
                    </mat-form-field>
                  </mat-card-content>
                </mat-card>
                <!-- campo roll -->
                <mat-card flex="100" style=" background-color:#ffd0b0" tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
                  <mat-card-content>
                    <mat-form-field style="width: 100%;" flex>
                      <span matPrefix>
                        <mat-icon>person</mat-icon>
                      </span>
                      <mat-select  #userRole #roleControl="ngModel" placeholder="Rol *" name="role" [(ngModel)]="userDto.role">
                        <mat-option  *ngFor="let rol of rols" [value]="rol.value" >
                          {{rol.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </mat-card-content>
                </mat-card>
                <!-- campo cargo -->
                <mat-card flex="100" style=" background-color:#ffd0b0" tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
                  <mat-card-content>
                    <mat-form-field style="width: 100%;" flex>
                      <input matInput #userJob #userControl="ngModel" placeholder="Cargo" type="text" maxlength="40" name="Cargo" [(ngModel)]="userDto.job"
                        required>
                      <span matPrefix>
                        <mat-icon>person</mat-icon>
                      </span>
                      <mat-hint align="start">
                        <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Requerido</span>
                      </mat-hint>
                      <mat-hint align="end">{{userJob.value.length}} / 40</mat-hint>
                    </mat-form-field>
                  </mat-card-content>
                </mat-card>
                <!-- campo ciudad-->
                <mat-card flex="100" style=" background-color:#ffd0b0" tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
                  <mat-card-content>
                    <mat-form-field style="width: 100%;" flex>
                      <input matInput #userCity #userControl="ngModel" placeholder="Ciudad" type="text" maxlength="40" name="ciudad" [(ngModel)]="userDto.city"
                        required>
                      <span matPrefix>
                        <mat-icon>person</mat-icon>
                      </span>
                      <mat-hint align="start">
                        <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Requerido</span>
                      </mat-hint>
                      <mat-hint align="end">{{userCity.value.length}} / 40</mat-hint>
                    </mat-form-field>
                  </mat-card-content>
                </mat-card>
                <!-- campo experiencia -->
                <mat-card flex="100" style=" background-color:#ffd0b0" tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
                  <mat-card-content>
                    <mat-form-field style="width: 100%;" flex>
                      <input matInput #userExperience #userControl="ngModel" placeholder="Experiencia" type="number" maxlength="40" name="Experiencia"
                        [(ngModel)]="userDto.experience" required>
                      <span matPrefix>
                        <mat-icon>person</mat-icon>
                      </span>
                      <mat-hint align="start">
                        <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Requerido</span>
                      </mat-hint>
                      <mat-hint align="end">{{userExperience.value.length}} / 40</mat-hint>
                    </mat-form-field>
                  </mat-card-content>
                </mat-card>
                <!-- campo correo -->
                <mat-card flex="100" style=" background-color:#ffd0b0;" tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
                  <mat-card-content>
                    <mat-form-field style="width: 100%;" flex>
                      <input matInput #emailElement #emailForm="ngModel" placeholder="Correo Electronico" type="email" maxlength="40" name="email"
                        [(ngModel)]="userDto.email" required>
                      <span matPrefix>
                        <mat-icon>person</mat-icon>
                      </span>
                      <mat-hint align="start">
                        <span [hidden]="!emailForm.errors?.required || emailForm.pristine" class="tc-red-600">Requerido</span>
                      </mat-hint>
                      <mat-hint align="end">{{emailElement.value.length}} / 40</mat-hint>
                    </mat-form-field>
                  </mat-card-content>
                </mat-card>
                <!-- campo contraseña -->
                <mat-card flex="100" style=" background-color:#ffd0b0" tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
                  <mat-card-content>
                    <mat-form-field style="width: 100%;" flex>
                      <input matInput #passElement #passControl="ngModel" placeholder="Contraseña" type="password" name="password" [(ngModel)]="userDto.password"
                        required>
                      <span matPrefix>
                        <mat-icon>lock</mat-icon>
                      </span>
                      <mat-hint align="start">
                        <span [hidden]="!passControl.errors?.required || passControl.pristine" class="tc-red-600">Required</span>
                      </mat-hint>
                    </mat-form-field>
                  </mat-card-content>
                </mat-card>
              </div>
              <mat-card-actions class="text-center" layout="row">
                <div layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']">
                  <button style="background-color:#ff3d00;color:#ffff; width:50px;" flex mat-raised-button [disabled]="!loginForm.form.valid"
                    (click)="createAuthUser()">Registrar</button>
                  <button style="background-color:#ff3d00;color:#ffff; width:50px;" flex mat-raised-button (click)="volver()">Cancelar</button>
                </div>
              </mat-card-actions>
            </form>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </td-layout-nav>
</td-layout>