<div layout="column" style="background-color:#ff7539">
    <mat-toolbar style="background-color:#ff3d00" color="primary" class="mat-whiteframe-z1">
      <mat-toolbar-row>
        <span>Crear actividades</span>
        <span flex></span>
        <a mat-icon-button matTooltip="cerrar" matTooltipPosition="before" (click)="cerrar()">
          <mat-icon>clear</mat-icon>
        </a>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-card>
      <mat-card-content flex="100" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center" layout-fill>
        <form #activityForm="ngForm">
          <div flex>
            <!-- Campo titulo -->
            <mat-card flex="100" style=" background-color:#ffd0b0" tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
              <mat-card-content>
                <mat-form-field style="width: 100%;" flex>
                  <input matInput #userName #userControl="ngModel" placeholder="Nombre de la actividad" type="text" maxlength="40" name="Nombre"
                    [(ngModel)]="activity.title" required>
                  <mat-hint align="start">
                    <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Requerido</span>
                  </mat-hint>
                  <mat-hint align="end">{{userName.value.length}} / 40</mat-hint>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
            <!-- Campo descripcion -->
            <mat-card flex="100" style=" background-color:#ffd0b0" tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
              <mat-card-content>
                <mat-form-field style="width: 100%;" flex>
                  <textarea matInput #descriptionControl="ngModel" placeholder="Descripcion" type="text" maxlength="120" name="Descripcion"
                    [(ngModel)]="activity.description" required rows="7" cols="120"></textarea>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
            <!-- Campo reglas -->
            <mat-card flex="100" style=" background-color:#ffd0b0" tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
              <mat-card-content>
                <mat-form-field style="width: 100%;" flex>
                  <textarea style="resize: none" matInput #rulesControl="ngModel" placeholder="Reglas" type="text" maxlength="500" name="Reglas" [(ngModel)]="activity.rules"
                    required rows="15" cols="25"></textarea>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
            <!-- Campo fecha -->
            <mat-card layout="row" flex="100" style=" background-color:#ffd0b0" tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
              <mat-card-content>
                <mat-form-field class="calendar">
                  <input matInput  #date1Control="ngModel" name="Fecha1" [(ngModel)]="activity.startTime" [min]="fecha1" [max]="maxDate" [matDatepicker]="picker" placeholder="Fecha inicio">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="calendar">
                  <input matInput  #date2Control="ngModel" name="endTime" [(ngModel)]="activity.endTime" [min]="fecha1" [max]="maxDate" [matDatepicker]="picker2" placeholder="Fecha final">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
            <!-- Campo recompensa -->
            <mat-card flex="100" style=" background-color:#ffd0b0" tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
              <mat-card-content>
                <mat-form-field style="width: 100%;" flex>
                  <input matInput #scoreControl="ngModel" placeholder="Puntaje" type="number" name="Puntaje" [(ngModel)]="activity.reward" required>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>
          <mat-card-actions layout="row">
              <div class="text-center">
                <button style="background-color:#ff3d00;color:#ffff;width: 20%;" flex mat-raised-button [disabled]="!activityForm.valid"(click)="createActivity()">Guardar</button>
                <button style="background-color:#ff3d00;color:#ffff;width: 20%;margin:10px" flex mat-raised-button (click)="cerrar()">Cancelar</button>
              </div>
            </mat-card-actions>
        </form>
      
      </mat-card-content>
    </mat-card>
  </div>