<div layout="column" style="background-color:#ff7539" layout-fill>
  <mat-toolbar style="background-color:#ff3d00" color="primary" class="mat-whiteframe-z1">
    <mat-toolbar-row>
      <span>Detalles de actividades</span>
      <span flex></span>
      <a mat-icon-button matTooltip="cerrar" matTooltipPosition="before" (click)="cerrar()">
        <mat-icon>clear</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card>
  <mat-card-content>
    <mat-card-title class="text-center" style="padding: 10px 10px 10px 10px">{{activity.title}}</mat-card-title>
  </mat-card-content>
  <mat-card-content>
    <mat-card-title class="justificar">
      {{activity.description}}</mat-card-title>
  </mat-card-content>
  <mat-card-content>
    <mat-card-title class="justificar">Se deben registrar las horas en la plataforma CTempus diariamente con 9 horas diarias.</mat-card-title>
  </mat-card-content>
  <mat-card-title class="text-center">Recompensa: <img src="../../../assets/icons/moneda.svg" width="20px"> {{activity.reward}} </mat-card-title>
  <mat-card-actions layout="row">
    <div class="text-center">
      <button style="background-color:#ff3d00;color:#ffff;width: 20%;" flex mat-raised-button (click)="Participar()">Participar</button>
    </div>
  </mat-card-actions>
</mat-card>
</div>