<td-layout>
  <td-navigation-drawer flex [sidenavTitle]="name" logo="assets:covalent" name="Firstname Lastname" email="firstname.lastname@company.com">
    <mat-nav-list>
      <a mat-list-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>Sign out</a>
      <a *ngFor="let item of routes" mat-list-item>
        <mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list td-navigation-drawer-menu>
        <a mat-list-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>Sign out</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav navigationRoute="/">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div td-toolbar-content layout="row" layout-align="center center" flex>
      <span>Recompensas</span>
      <span flex></span>
    </div>
    <div style="background-color:#ff7539">
      <mat-card>
        <mat-card>
          <div flex layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
            <div flex class="text-left" style="color:orangered">
              <mat-card-title>Nueva recompensa</mat-card-title>
            </div>
            <div flex class="text-right">
              <button mat-button (click)="crear()">
                <img src="../../../assets/icons/boton-anadir.svg" width="70px">
              </button>
            </div>
          </div>
        </mat-card>
        <mat-card>
          <div style="overflow:auto">
            <mat-card-content>
              <table td-data-table width="100%">
                <thead>
                  <tr td-data-table-colum-row>
                    <th td-data-table-column>

                    </th>
                    <th td-data-table-column>
                      Nombre de la recompensa
                    </th>
                    <th td-data-table-column>
                      Descripcion
                    </th>
                    <th td-data-table-column>
                      Cantidad
                    </th>
                    <th td-data-table-column>
                      Puntos
                    </th>
                    <th td-data-table-column>
                      Detalle
                    </th>
                  </tr>
                </thead>
              </table>
            </mat-card-content>
          </div>
          <!-- <div flex class="text-center">
            <mat-card-title style="color:orangered; text-align: center; font-size:40px"> Recompensas</mat-card-title>
          </div>
          <div flex layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
            <div flex class="text-center">
              <mat-card-title>ICONO</mat-card-title>
            </div>
            <div flex class="text-center">
              <mat-card-title>RECOMPENSA</mat-card-title>
            </div>
            <div flex class="text-center">
              <mat-card-title>DESCRIPCION</mat-card-title>
            </div>
            <div flex class="text-center">
              <mat-card-title>CANTIDAD</mat-card-title>
            </div>
            <div flex class="text-center">
              <mat-card-title>PUNTOS</mat-card-title>
            </div>
            <div flex class="text-center">
              <mat-card-title>DETALLES</mat-card-title>
            </div>
          </div> -->
        </mat-card>
        <mat-card *ngFor="let recompensa of store ">
          <div flex layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
            <div flex class="text-center">
              <img src="../../../assets/icons/rewards/viaje.svg" width="70px">
            </div>
            <div flex class="text-center">
              <mat-card-content class="contenido">{{recompensa.name}}</mat-card-content>
            </div>
            <div flex class="text-center">
              <mat-card-content class="contenido">{{recompensa.description}}</mat-card-content>
            </div>
            <div flex class="text-center">
              <mat-card-content class="contenido">{{recompensa.amount}}</mat-card-content>
            </div>
            <div flex class="text-center">
              <mat-card-content class="contenido">{{recompensa.scorePrice}}</mat-card-content>
            </div>
            <div flex class="text-center">
              <button mat-button class="w3-btn w3-dark-grey" (click)="editar(recompensa)">Editar</button>
              <button style="margin:10px" mat-button class="w3-btn w3-dark-grey" (click)="Confirmar(recompensa)">Eliminar</button>
            </div>
          </div>
        </mat-card>
        <mat-card-actions layout="row">
          <div class="text-center">
            <br>
            <button style="background-color:#ff3d00;color:#ffff;width: 20%;" flex mat-raised-button (click)="Volver()">Volver</button>
          </div>
        </mat-card-actions>
      </mat-card>
      <br>
      <br>
      <br>
    </div>
  </td-layout-nav>
</td-layout>