<td-layout>
  <td-navigation-drawer flex [sidenavTitle]="name" logo="assets:covalent" name="Firstname Lastname" email="firstname.lastname@company.com">
    <mat-nav-list>
      <a mat-list-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>Sign out</a>
      <a *ngFor="let item of routes" mat-list-item>
        <mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list td-navigation-drawer-menu>
        <a mat-list-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>Sign out</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav navigationRoute="/">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div td-toolbar-content layout="row" layout-align="center center" flex>
      <span>Medalleria</span>
      <span flex></span>
    </div>
    <div style="background-color:#ffd0b0">
      <mat-card  fxlayout="row" fxflex="100" fxShow.gt-sm flex>
        <mat-card-title style="color:orangered; text-align: center; font-size:40px">TROFEOS</mat-card-title>
        <mat-card-subtitle style="text-align: center">Medallas disponibes</mat-card-subtitle>
        <div flex  layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
          <mat-card *ngFor="let medal of medals" flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/3d-modeling.svg" width="100px">
              <mat-card-content>{{medal.name}}</mat-card-content>
            </div>
            <div class="text-center">
              <mat-card-content>{{medal.description}}</mat-card-content>
            </div>
          </mat-card>
          <!-- <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/alguacil.svg" width="100px">
              <mat-card-content>estrella</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/cafe.svg" width="100px">
              <mat-card-content>cafe</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/calendario.svg" width="100px">
              <mat-card-content>calendario</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/candado.svg" width="100px">
              <mat-card-content>seguridad</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/cohete.svg" width="100px">
              <mat-card-content>cohete</mat-card-content>
            </div>
          </mat-card> -->
        </div>
        <!-- <div layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/cronografo.svg" width="100px">
              <mat-card-content>cronometro</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/diamante.svg" width="100px">
              <mat-card-content>diamante</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/disco.svg" width="100px">
              <mat-card-content>disco</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/divisa.svg" width="100px">
              <mat-card-content>medalla</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/dominio.svg" width="100px">
              <mat-card-content>navegar</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/email.svg" width="100px">
              <mat-card-content>email</mat-card-content>
            </div>
          </mat-card>
        </div>

        <div layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/energia.svg" width="100px">
              <mat-card-content>rayo</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/escudo (1).svg" width="100px">
              <mat-card-content>armas</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/escudo.svg" width="100px">
              <mat-card-content>escudo</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/espada.svg" width="100px">
              <mat-card-content>espada</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/espia.svg" width="100px">
              <mat-card-content>espia</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/gafas.svg" width="100px">
              <mat-card-content>gafas</mat-card-content>
            </div>
          </mat-card>
        </div>
        <div layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/huella-dactilar.svg" width="100px">
              <mat-card-content>huella</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/idea.svg" width="100px">
              <mat-card-content>idea</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/instrumentos.svg" width="100px">
              <mat-card-content>instrumento</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/jeep.svg" width="100px">
              <mat-card-content>carro</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/la-computacion-en-nube.svg" width="100px">
              <mat-card-content>nube</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/lapiz.svg" width="100px">
              <mat-card-content>lapiz</mat-card-content>
            </div>
          </mat-card>
        </div>

        <div layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/lentes-de-contacto-bionicas.svg" width="100px">
              <mat-card-content>lentes</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/mantenimiento.svg" width="100px">
              <mat-card-content>configurar</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/musica.svg" width="100px">
              <mat-card-content>musica</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/oculus-rift.svg" width="100px">
              <mat-card-content>oculus</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/pintura.svg" width="100px">
              <mat-card-content>pintura</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/realidad-aumentada.svg" width="100px">
              <mat-card-content>realidad</mat-card-content>
            </div>
          </mat-card>
        </div>

        <div flex layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/reloj.svg" width="100px">
              <mat-card-content>reloj</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/reproductor-de-peliculas.svg" width="100px">
              <mat-card-content>reproductor</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/telefono-inteligente.svg" width="100px">
              <mat-card-content>telefono</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/trofeo.svg" width="100px">
              <mat-card-content>trofeo</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/wifi.svg" width="100px">
              <mat-card-content>wifi</mat-card-content>
            </div>
          </mat-card>
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:5px 5px 5px 5px" class="text-center">
              <img src="../../../assets/icons/Insignia/3d-modeling.svg" width="100px">
              <mat-card-content>3d modelo</mat-card-content>
            </div>
          </mat-card>
        </div> -->
        <mat-card-actions layout="row">
          <div class="text-center">
            <button style="background-color:#ff3d00;color:#ffff;width: 20%;" flex mat-raised-button (click)="Volver()">Volver</button>
          </div>
        </mat-card-actions>
      </mat-card>
      <br>
      <br>
      <br>
    </div>
  </td-layout-nav>
</td-layout>