<td-layout>
  <td-navigation-drawer flex [sidenavTitle]="name" logo="assets:covalent" name="Firstname Lastname" email="firstname.lastname@company.com">
    <mat-nav-list>
      <a mat-list-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>Sign out</a>
      <a *ngFor="let item of routes" mat-list-item>
        <mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list td-navigation-drawer-menu>
        <a mat-list-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>Sign out</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav navigationRoute="/">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div td-toolbar-content layout="row" layout-align="center center" flex>
      <span>Medalleria</span>
      <span flex></span>
    </div>
    <mat-card (window:resize)="onResize($event)" fxlayout="column" fxflex="100" fxShow.gt-sm flex>
      <mat-card-title style="color:orangered; text-align: center; font-size:40px">Medallas</mat-card-title>
      <mat-card-subtitle style="text-align: center">Medallas disponibles</mat-card-subtitle>
      <mat-grid-list cols="{{test}}" rowHeight="1:1">
        <mat-grid-tile *ngFor="let medal of medals" [colspan]="cols" [rowspan]="rows">
          <mat-card flex="100" style='background:#f8f8f8'>
            <div style="padding:2px 2px 2px 2px" class="text-center">
              <img src="../../../assets/icons/Insignia/3d-modeling.svg" width="100px">
              <mat-card-content class="label">{{medal.name}}</mat-card-content>
              <mat-card-content class="label">{{medal.description}}</mat-card-content>
            </div>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-card-actions layout="row">
        <div class="text-center">
          <button style="background-color:#ff3d00;color:#ffff;width: 20%;" flex mat-raised-button (click)="Volver()">Volver</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </td-layout-nav>
</td-layout>