<div layout="column" style="background-color:#ffd0b0">
  <mat-toolbar style=background:#ff3d00 class="mat-whiteframe-z1">
    <mat-toolbar-row>
      <span style=color:white>Medalleria</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card fxlayout="row" fxflex="100" fxShow.gt-sm flex>
    <mat-card-title style="color:orangered; text-align: center; font-size:40px">TROFEOS</mat-card-title>
    <mat-card-subtitle style="text-align: center">Medallas disponibes</mat-card-subtitle>

    <div flex layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">shop</i>
          <mat-card-content>shop</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">shopping_basket</i>
          <mat-card-content>basket</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">stars</i>
          <mat-card-content>stars</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">3d_rotation</i>
          <mat-card-content>rotation</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">accessibility</i>
          <mat-card-content>accessibility</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">account_balance</i>
          <mat-card-content>balance</mat-card-content>
        </div>
      </mat-card>
    </div>

    <div layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">account_circle
          </i>
          <mat-card-content>circle</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">work</i>
          <mat-card-content>work</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">android</i>
          <mat-card-content>android</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">backup</i>
          <mat-card-content>backup</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">build</i>
          <mat-card-content>build</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">camera_enhance</i>
          <mat-card-content>camera</mat-card-content>
        </div>
      </mat-card>
    </div>

    <div layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">translate</i>
          <mat-card-content>translate</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">event_seat</i>
          <mat-card-content>seat</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">explore</i>
          <mat-card-content>explore</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">extension</i>
          <mat-card-content>extension</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">feedback</i>
          <mat-card-content>feedback</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">home</i>
          <mat-card-content>home</mat-card-content>
        </div>
      </mat-card>
    </div>

    <div layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">https</i>
          <mat-card-content>https</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">motorcycle</i>
          <mat-card-content>motorcycle</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">open_with</i>
          <mat-card-content>open</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">pan_tool</i>
          <mat-card-content>tool</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">print</i>
          <mat-card-content>print</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">settings</i>
          <mat-card-content>settings</mat-card-content>
        </div>
      </mat-card>
    </div>

    <div layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">settings_phone</i>
          <mat-card-content>phone</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">stars</i>
          <mat-card-content>Medalla 2</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">swap_horizontal_circle</i>
          <mat-card-content>Medalla 3</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">thumb_up</i>
          <mat-card-content>Medalla 1</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">verified_user</i>
          <mat-card-content>Medalla 2</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">visibility</i>
          <mat-card-content>Medalla 3</mat-card-content>
        </div>
      </mat-card>
    </div>

    <div flex layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">account_circle
          </i>
          <mat-card-content>circle</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">work</i>
          <mat-card-content>work</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">android</i>
          <mat-card-content>android</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">backup</i>
          <mat-card-content>backup</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">build</i>
          <mat-card-content>build</mat-card-content>
        </div>
      </mat-card>
      <mat-card flex="100" style='background:#f8f8f8'>
        <div style="padding:5px 5px 5px 5px" class="text-center">
          <i class="material-icons big-size">camera_enhance</i>
          <mat-card-content>camera</mat-card-content>
        </div>
      </mat-card>
    </div>
  </mat-card>

  <br>
  <br>
  <br>
</div>
