<div layout="column" style="background-color:#ff7539">
  <mat-toolbar style="background-color:#ff3d00" color="primary" class="mat-whiteframe-z1">
    <mat-toolbar-row>
      <span>Actividades Registradas</span>
      <span flex></span>
      <a mat-icon-button matTooltip="cerrar" matTooltipPosition="before" (click)="cerrar()">
        <mat-icon>clear</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

  <div style="background-color:#ff7539">
    <mat-card fxlayout="row" fxflex="100" fxShow.gt-sm flex>
      <mat-card-title style="color:orangered; text-align: center; font-size:40px">Lista de registrados</mat-card-title>
      <mat-card-title style="color:orangered; text-align: center; font-size:40px">{{myActivitySend.title}}</mat-card-title>
      <mat-card *ngFor="let user of myActivity" style="background:#ff9100">
        <div flex layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
          <div flex class="text-center">
            <img src="../../../assets/icons/UserAvatar/UserAvatar10.svg" width="90px">
          </div>
          <div flex class="text-center">
            <mat-card-content class="fuente">{{user.name}} </mat-card-content>
          </div>
          <div flex class="text-center">
            <mat-card-content class="fuente">{{user.creationTime}}</mat-card-content>
          </div>
        </div>
      </mat-card>

      <mat-card class="text-center">
        <mat-card-title>Total de usuarios Registrados: {{myActivity.length}}</mat-card-title>
      </mat-card>
      <mat-card-actions layout="row">
        <div class="text-center">
          <button style="background-color:#ff3d00;color:#ffff;width: 20%;" flex mat-raised-button (click)="Volver()">Volver</button>
        </div>
      </mat-card-actions>
    </mat-card>
    <br>
    <br>
    <br>
  </div>
</div>