.fondo{
    background-color:#ff7539;
}

.centrado{
    margin-top:80px;
}

.barra{
    margin-top:80px;
}
.subtitulo{
    font-size:20px;
}

.titulo{
    font-size:20px;
}
.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{color:#fff!important;background-color:#ff3d00!important}
.w3-text-white,.w3-hover-text-white:hover{color:#fff!important}
.w3-green,.w3-hover-green:hover{color:#fff!important;background-color:#ff3d00!important}

.big-size{
    font-size: 50px;
  }

.fuente{
    color:orangered;
    font-size: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1px;
}

.fondo{
    background-color:#ff7539;
}


img{
    width: 95px;
}

.avatar{
    width: 250px;
}

.descripcion{
    font-size:18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}