<td-layout>
  <td-navigation-drawer flex [sidenavTitle]="name" logo="assets:covalent" name="Firstname Lastname" email="firstname.lastname@company.com">
    <mat-nav-list>
      <a mat-list-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>Sign out</a>
      <a *ngFor="let item of routes" mat-list-item>
        <mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list td-navigation-drawer-menu>
        <a mat-list-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>Sign out</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav navigationRoute="/">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div td-toolbar-content layout="row" layout-align="center center" flex>
      <span>Actividades</span>
      <span flex></span>
    </div>
    <!-- router outlet goes here -->
    <div style="background-color:#ff7539">
      <div layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']">
        <div flex="100">
          <div layout-gt-sm="row" layout-xs="column" class="text-center">
            <div flex="30" layout-align-xs="center center">
              <img class="avatar" src="./assets/icons/UserAvatar/UserAvatar10.svg" width="90%" height="90%">
            </div>
            <mat-card flex="100">
              <div flex="100">
                <div layout-gt-sm="column" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']">
                  <div flex="100" class="text-center">
                    <mat-card-subtitle class="fuente" style=" font-family:Verdana, Geneva, Tahoma, sans-serif;">{{userDto.name}} {{userDto.lastname}}</mat-card-subtitle>
                  </div>
                  <!-- Barra de progreso -->
                  <div flex="100" height="10%">
                    <mat-card-subtitle class="fuente">Progreso: 80%</mat-card-subtitle>
                    <section>
                      <mat-card-content>
                        <mat-progress-bar color='primary' mode='determinate' value=80>
                        </mat-progress-bar>
                      </mat-card-content>
                    </section>
                  </div>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
      <div style="overflow:auto;">
        <mat-card-content>
          <table style="width: 100%" td-data-table>
            <thead>
              <tr td-data-table-column-row>
                <th style="background-color:#A8C6D9;color:#003556;font-size:20px;" td-data-table-column>
                  Nombre del reto
                </th>
                <th style="background-color:#A8C6D9;color:#003556;font-size:20px;" td-data-table-column>
                  Descripción
                </th>
                <th style="background-color:#A8C6D9;color:#003556;font-size:20px;" td-data-table-column>
                  Estado
                </th>
                <th style="background-color:#A8C6D9;color:#003556;font-size:20px;" td-data-table-column>
                  Opciones
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dato of allActivity" td-data-table-row>
                <td style="background-color:#A8C6D9; font-size:15px; font-family:Verdana, Geneva, Tahoma, sans-serif" class="text-center"
                  td-data-table-cell>
                  {{dato.title}}
                </td>
                <td style="background-color:#A8C6D9; font-size:15px; font-family:Verdana, Geneva, Tahoma, sans-serif" class="text-center"
                  td-data-table-cell>
                  {{dato.description}}
                </td>
                <td style="background-color:#A8C6D9; font-size:15px; font-family:Verdana, Geneva, Tahoma, sans-serif" class="text-center"
                  td-data-table-cell>
                  {{dato.status}}
                </td>
                <td style="background-color:#A8C6D9; font-size:15px; font-family:Verdana, Geneva, Tahoma, sans-serif" class="text-center"
                  td-data-table-cell>
                  <button mat-button class="w3-btn w3-dark-grey" (click)="openConfirm(dato)">Ver mas</button>
                  <button style="margin:10px" mat-button class="w3-btn w3-dark-grey" (click)="pasarDatos(dato)">Ranking</button>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </div>
      <!-- <mat-card>
          <div flex layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
            <div flex class="text-center">
              <mat-card-title>Reto</mat-card-title>
            </div>
            <div flex class="text-center">
              <mat-card-title>Descripción </mat-card-title>
            </div>
            <div flex class="text-center">
              <mat-card-title>Estado </mat-card-title>
            </div>
            <div flex class="text-center">
              <mat-card-title>Opciones</mat-card-title>
            </div>
          </div>
        </mat-card>
        <mat-card *ngFor="let dato of allActivity">
          <div flex layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
            <div flex class="text-center">
              <mat-card-title class="descripcion">{{dato.title}}</mat-card-title>
            </div>
            <div flex class="text-center">
              <mat-card-title class="descripcion">{{dato.description}} </mat-card-title>
            </div>
            <div flex class="text-center">
              <mat-card-title class="descripcion">{{dato.status}} </mat-card-title>
            </div>
            <div flex class="text-center" >
                <button mat-button class="w3-btn w3-dark-grey" (click)="openConfirm(dato)">Ver mas</button>
                <button style="margin:10px" mat-button class="w3-btn w3-dark-grey" (click)="pasarDatos(dato)">Ranking</button>
              </div>
          </div>
        </mat-card>-->

    </div>
    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="mat-caption">Copyright &copy; 2017 Teradata. All rights reserved</span>
      </div>
    </td-layout-footer>
  </td-layout-nav>
</td-layout>