<td-layout>
  <td-navigation-drawer flex [sidenavTitle]="name" logo="assets:covalent" name="Firstname Lastname" email="firstname.lastname@company.com">
    <mat-nav-list>
      <a *ngFor="let item of routes" mat-list-item>
        <mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a *ngFor="let item of usermenu" mat-list-item>
          <mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav logo="assets:covalent" [toolbarTitle]="name" navigationRoute="/">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span flex></span>
      <a mat-icon-button matTooltip="Docs" matTooltipPosition="before" href="https://teradata.github.io/covalent/" target="_blank">
        <mat-icon>chrome_reader_mode</mat-icon>
      </a>
    </div>
    <!-- router outlet goes here -->
    <div class="fondo">
      <div layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']">
        <div flex="100">
          <div layout-gt-sm="row" layout-xs="column" class="text-center">
            <div flex="30" layout-align-xs="center center">
              <img  class="avatar" src="./assets/icons/UserAvatar/UserAvatar10.svg" width="90%" height="90%">
            </div>
            <mat-card flex="100">
              <div flex="100">
                <div layout-gt-sm="column" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']">
                  <div flex="100" class="text-center">
                    <mat-card-subtitle class="fuente" style=" font-family:Verdana, Geneva, Tahoma, sans-serif;">{{userDto.name}} {{userDto.lastname}}</mat-card-subtitle>
                  </div>
                 <!-- Barra de progreso -->
                 <div flex="100">
                    <mat-card-subtitle class="fuente">Progreso: 80%</mat-card-subtitle>
                    <section>
                      <mat-card-content>
                        <mat-progress-bar color='primary' mode='determinate' value=80>
                        </mat-progress-bar>
                      </mat-card-content>
                    </section>
                  </div>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
      <mat-card flex="100">
        <mat-card>
          <div flex layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
            <div flex class="text-center">
              <mat-card-title>Reto</mat-card-title>
            </div>
            <div flex class="text-center">
              <mat-card-title>Descripción </mat-card-title>
            </div>
            <div flex class="text-center">
              <mat-card-title>Estado </mat-card-title>
            </div>
            <div flex class="text-center">
              <mat-card-title>Opciones</mat-card-title>
            </div>
          </div>
        </mat-card>
        <mat-card *ngFor="let dato of allActivity">
          <div flex layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']" layout-align="center center">
            <div flex class="text-center">
              <mat-card-title class="descripcion">{{dato.title}}</mat-card-title>
            </div>
            <div flex class="text-center">
              <mat-card-title class="descripcion">{{dato.description}} </mat-card-title>
            </div>
            <div flex class="text-center">
              <mat-card-title class="descripcion">{{dato.status}} </mat-card-title>
            </div>
            <div flex class="text-center">
              <button mat-button class="w3-btn w3-dark-grey" (click)="openConfirm(dato)">Ver mas</button>
              <button mat-button class="w3-btn w3-dark-grey" (click)="pasarDatos(dato)">Ranking</button>
            </div>
          </div>
        </mat-card>
      </mat-card>
    </div>
    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="mat-caption">Copyright &copy; 2017 Teradata. All rights reserved</span>
      </div>
    </td-layout-footer>
  </td-layout-nav>
</td-layout>